@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    background-image: url('../images/bg.png');
    font-family: 'Montserrat',
    sans-serif;
}

h1{
    font-size: 4rem;
    margin: 8px 0;
    font-weight: 500;
}

h2 {
    font-size: 1.8rem;
    margin: 8px 0;
}

h4 {
    font-size: .8rem;
}

p{
    line-height: 1.5rem;
}

.toggleMenu {
    display: none;
}
.container {
    margin: 20px 200px;
}

.header {
    margin: 20px 0;
}

.navbar {
    background-color: #002f53;
    height: 40px;
    padding: 0 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    padding: 10px 16px;
    display: inline-flex;
    align-items: center;
    transition: background-color .3s ease-in;
}

.navbar li:hover {
    background-color:#024579;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar input {
    width: 400px;
    transition: all .3s ease-in;
}

.content {
    margin-top: 20px;
    display: flex;
}

.content .posts {
    margin-right: 20px;
    flex: 1;
}

.content .post {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.content .post img{
    width: 100%;
    margin: 16px 0;
}

.sidenav {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.sidenav .advertising {
    border-radius: 8px;
    overflow: hidden;
    height: 150px;
}

.sidenav .advertising img{
    height: 100%;
    width: 100%;
}

.sidenav .sidelinks {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.sidenav .sidelinks li {
    height: 40px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
}

.sidenav .sidelinks li .fab{
    display: none;
}

@media screen and (max-width:1199px) {
    h1 {
        font-size: 3rem;
    }
    h3 {
        display: none;
    }
    .container {
        margin: 20px 5%;
    }
    .navbar li {
        padding:10px 10px;
    }
    .navbar li a {
        font-size: .9rem;
    }
    .navbar input {
        width: 200px;
    }
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 2rem;
    }
    .container {
        margin-top: 60px;
    }
    .advertising {
        display: none;
    }
    .content {
        flex-wrap: wrap-reverse;
    }
    .content .posts {
        margin: 0;
    }
    .sidenav {
        width: 100%;
    }
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
    }
    .navbar ul {
        display: none;
    }
    .toggleMenu {
        display: block;
    }
    .sidenav .sidelinks {
        background: none;
    }
    .sidenav .sidelinks li{
        border: none;
        cursor: pointer;
    }
    .sidenav .sidelinks li a {
        display: none;
    }
    .sidenav .sidelinks ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .sidenav .sidelinks li .fab {
        display: block;
        padding: 16px;
    }
}